<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.IStudentMapper">
<insert id="save" parameterType="com.po.Student">
insert into student(sname,sex,address,birthday,fname,classid) values(#{sname},#{sex},#{address},#{birthday},#{fname},#{classid})
</insert>
<update id="update" parameterType="com.po.Student">
update student set sname=#{sname},sex=#{sex},address=#{address},birthday=#{birthday},fname=#{fname},classid=#{classid} where stuid=#{stuid}
</update>
<delete id="delById" parameterType="Integer">
delete from student where stuid=#{sid}
</delete>
<select id="findById" parameterType="Integer" resultType="po.Student">
select * from vwstu where stuid=#{sid}
</select>
<select id="findPageAll" parameterType="po.PageBean" resultType="po.Student">
select * from vwstu limit #{page},#{rows}
</select>
<select id="findmaxRows" resultType="Integer">
select count(*) from vwstu
</select>
<select id="doinit" resultType="po.Clazz">
select * from clazz
</select>
</mapper>
